[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
astroid = "*"
entrypoints = "*"
flake8 = "*"
isort = "*"
lazy-object-proxy = "*"
mccabe = "*"
pep8 = "*"
pycodestyle = "*"
pyflakes = "*"
pylint = "*"
six = "*"
typed-ast = "*"
wrapt = "*"
importlib-metadata = "*"
attrs = "*"
atomicwrites = "*"
pluggy = "*"
more-itertools = "*"
zipp = "*"
pyparsing = "*"
pytest = "*"
pytest-mock = "*"
coverage = "*"
pytest-cov = "*"
certifi = "*"
chardet = "*"
idna = "*"
requests = "*"
urllib3 = "*"
bandit = "*"

[packages]
certifi = "*"
chardet = "*"
idna = "*"
requests = "*"
urllib3 = "*"

[requires]
python_version = "3.7"
